/* ===============================
   GLOBAL STYLES
=============================== */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ===============================
   SMOOTH FADE ANIMATION
=============================== */

.fade-in {
    animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}




#forecastContainer::-webkit-scrollbar {
    height: 6px;
}

#forecastContainer::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
}

#forecastContainer::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}


/* ===============================
   WEATHER BACKGROUND OVERLAY
=============================== */

.bg-overlay {
    background: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    );
}

